body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: o auto;
  padding: 20px;
  width: 900px;
  background-color: blueviolet;
}

.screen {
  height: 800px;
  width: 800px;
  display: grid;
  border: 10px solid black;
  margin: 20px auto;
  background-color: aqua;
}

.buttons {
  display: flex;
  justify-content: space-around;
  color: blanchedalmond;
}

.buttons button {
  height: 60px;
  width: 150px;
  border-radius: 25%;
  font-size: 2rem;

}


.pixel {
  border: 1px solid black;
}

.color {
  background-color: red;
}